@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

a.netlify-identity-button {
	@apply btn;
	@apply variant-filled-secondary;
}